In [1]:
import psycopg2 as pg
import pandas as pd

In [2]:
def connectionDataBase():
    connection = pg.connect(user="postgres", password="2023@Tag", host="159.65.42.225", port=5432, database="comercial_BI")
    return connection

In [3]:
conn = connectionDataBase()

cursor = conn.cursor()

query = '''SELECT tt.cnpj_ as cnpj,tt.nome_fantasia,tt.idade,tt.cna_name,tt.razao_social,tt.porte,tt.capital_social,tt.cod_nat_juri_,tt.qual_respons_,tt.uf,tt.data_situacao_cadastral,tt.data_incio_atividade,tt.telefone, tt.muni_name,tt.logradouro ,tt.tipo_logradouro ,tt.complemento,tt.bairro ,tt.cep,tt.cep_lat,tt.cep_long
                        FROM (
                        SELECT cc.cnpj_,cc.cnpj,cna.cna_name,cc.nome_fantasia,cc.idade,ee.razao_social,ee.porte,ee.capital_social,ee.cod_nat_juri_,ee.qual_respons_,cc.uf,cc.data_situacao_cadastral,cc.data_incio_atividade,cc.telefone, mm.muni_name,cc.logradouro ,cc.tipo_logradouro ,cc.complemento,cc.bairro ,cc.cep,cp.cep_lat,cp.cep_long from cnp_cnpj cc
                        left join mun_municipio mm on mm.muni_cod = cc.muncipio
                        left join em_empresas ee on ee.cnpj = cc.cnpj
                        left join cep_lat_long cp on cp.cep=cc.cep
                        left join cnae_cnaes_ cna on cna.cna_subclass = cc.cnae_principal
                        WHERE cc.cnae_principal= '4221904' AND cc.uf IN ('SP', 'MG') AND  cc.sit_cadastral = 'Ativa' ) AS tt LIMIT 100'''
query=cursor.execute(query)
query=cursor.fetchall()

nomes_colunas = [desc[0] for desc in cursor.description]
df = pd.DataFrame(query,columns=nomes_colunas)
df

,cnpj,nome_fantasia,idade,cna_name,razao_social,porte,capital_social,cod_nat_juri_,qual_respons_,uf,...,data_incio_atividade,telefone,muni_name,logradouro,tipo_logradouro,complemento,bairro,cep,cep_lat,cep_long
0,16667806/0001-78,Não Informado,13 anos,Construção de estações e redes de telecomunica...,VAGNER CHAVENCO,Micro Empresa,20000.0,Empresário (Individual),Empresário,SP,...,2011-11-17,1141257114,SAO PAULO,ARROIO GRANDE,RUA,Não Informado,SACOMA,04253050,NaN,NaN
1,16667806/0001-78,Não Informado,13 anos,Construção de estações e redes de telecomunica...,VAGNER CHAVENCO,Micro Empresa,20000.0,Empresário (Individual),Empresário,SP,...,2011-11-17,1141257114,SAO PAULO,ARROIO GRANDE,RUA,Não Informado,SACOMA,04253050,NaN,NaN
2,39313616/0001-58,LOG IN BRAZIL,4 anos,Construção de estações e redes de telecomunica...,LOG IN BRAZIL SERVICOS DE IMPERMEABILIZACAO E ...,Micro Empresa,500000.0,Sociedade Empresária Limitada,Sócio-Administrador,SP,...,2020-10-05,1152869043,SAO PAULO,ROBERTO SAMPAIO FERREIRA,RUA,Não Informado,JARDIM GERMANIA,05848150,NaN,NaN
3,39313616/0001-58,LOG IN BRAZIL,4 anos,Construção de estações e redes de telecomunica...,LOG IN BRAZIL SERVICOS DE IMPERMEABILIZACAO E ...,Micro Empresa,500000.0,Sociedade Empresária Limitada,Sócio-Administrador,SP,...,2020-10-05,1152869043,SAO PAULO,ROBERTO SAMPAIO FERREIRA,RUA,Não Informado,JARDIM GERMANIA,05848150,NaN,NaN
4,19160542/0001-50,Não Informado,11 anos,Construção de estações e redes de telecomunica...,ARMANDO FLAVIO FURTADO PEREIRA,Micro Empresa,2000.0,Empresário (Individual),Empresário,MG,...,2013-10-30,3125351471,BELO HORIZONTE,PURUS,RUA,Não Informado,CONCORDIA,31110740,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,34052748/0001-50,S.E MONTAGENS,5 anos,Construção de estações e redes de telecomunica...,EDIMILSON RODRIGUES ZAMPERLINI,Micro Empresa,30000.0,Empresário (Individual),Empresário,MG,...,2019-06-27,3432367976,UBERLANDIA,ALPERCATAS,RUA,Não Informado,MORUMBI,38407126,NaN,NaN
96,34052748/0001-50,S.E MONTAGENS,5 anos,Construção de estações e redes de telecomunica...,EDIMILSON RODRIGUES ZAMPERLINI,Micro Empresa,30000.0,Empresário (Individual),Empresário,MG,...,2019-06-27,3432367976,UBERLANDIA,ALPERCATAS,RUA,Não Informado,MORUMBI,38407126,NaN,NaN
97,04582911/0001-25,Não Informado,23 anos,Construção de estações e redes de telecomunica...,FIBRACOM TELECOMUNICACOES E SERVICOS LTDA,Empresa de Pequeno porte,20000.0,Sociedade Empresária Limitada,Sócio-Administrador,MG,...,2001-07-26,3138226230,IPATINGA,EUGENIO GOMES,RUA,Não Informado,IDEAL,35162180,NaN,NaN
98,04582911/0001-25,Não Informado,23 anos,Construção de estações e redes de telecomunica...,FIBRACOM TELECOMUNICACOES E SERVICOS LTDA,Empresa de Pequeno porte,20000.0,Sociedade Empresária Limitada,Sócio-Administrador,MG,...,2001-07-26,3138226230,IPATINGA,EUGENIO GOMES,RUA,Não Informado,IDEAL,35162180,NaN,NaN
99,17188715/0013-56,Não Informado,35 anos,Construção de estações e redes de telecomunica...,SETOL CONSTRUCOES BRASILEIRAS LTDA,Demais,4000000.0,Sociedade Empresária Limitada,Sócio-Administrador,SP,...,1989-02-08,00000000,CACAPAVA,ADAUTO GOMES DE MELO,RUA,Não Informado,VL INDEPENDENCIA,12286515,NaN,NaN

In [4]:
df2 = df [['cna_name','data_incio_atividade']]

In [5]:
df2['data_incio_atividade']=pd.to_datetime(df2['data_incio_atividade'].astype(str),format='%Y-%m-%d')

C:\Users\saulo\AppData\Local\Temp\ipykernel_14644\747669098.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['data_incio_atividade']=pd.to_datetime(df2['data_incio_atividade'].astype(str),format='%Y-%m-%d')

In [6]:
df2=df2.sort_values('data_incio_atividade',ascending=False)

In [7]:
df2

                                             cna_name data_incio_atividade
42  Construção de estações e redes de telecomunica...           2023-11-08
43  Construção de estações e redes de telecomunica...           2023-11-08
10  Construção de estações e redes de telecomunica...           2023-11-06
11  Construção de estações e redes de telecomunica...           2023-11-06
39  Construção de estações e redes de telecomunica...           2023-10-24
..                                                ...                  ...
99  Construção de estações e redes de telecomunica...           1989-02-08
88  Construção de estações e redes de telecomunica...           1985-01-14
87  Construção de estações e redes de telecomunica...           1985-01-14
59  Construção de estações e redes de telecomunica...           1974-09-02
58  Construção de estações e redes de telecomunica...           1974-09-02

[100 rows x 2 columns]

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 42 to 58
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   cna_name              100 non-null    object
 1   data_incio_atividade  100 non-null    datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 2.3+ KB

In [60]:
df2['Mes']=df2['data_incio_atividade'].dt.month
df2['Ano']=df2['data_incio_atividade'].dt.year
df2['mes-ano']=df2['Mes'].astype(str)+ '-'+ df2['Ano'].astype(str)

In [9]:
df2['Dif_Meses'] =df2['data_incio_atividade'].dt.to_period('M')

In [10]:
df_qtd = pd.DataFrame(df2[['cna_name','Dif_Meses']].groupby('Dif_Meses').count()).reset_index()

In [11]:
ultimo_valor = df_qtd['cna_name'].iloc[-1]
penultimo_valor = df_qtd['cna_name'].iloc[-2]

razao = ultimo_valor/penultimo_valor
razao

2.0

In [63]:
df2['Dif_Meses'] = df2['Dif_Meses'].dt.months

AttributeError: Can only use .dt accessor with datetimelike values

In [54]:
df2['Dif_Meses'] = df2['Dif_Meses'].fillna(0).astype(int)

C:\Users\saulo\AppData\Local\Temp\ipykernel_30636\3860089761.py:1: FutureWarning: The behavior of fillna with timedelta64[ns] dtype and an incompatible value (<class 'int'>) is deprecated. In a future version, this will cast to a common dtype (usually object) instead of raising, matching the behavior of other dtypes.
  df2['Dif_Meses'] = df2['Dif_Meses'].fillna(0).astype(int)

TypeError: value should be a 'Timedelta', 'NaT', or array of those. Got 'int' instead.

In [39]:
df_anterior = df2[df2['Dif_Meses'] == 1]

In [40]:
df_anterior

Empty DataFrame
Columns: [cna_name, data_incio_atividade, Mes, Ano, mes-ano, Dif_Meses]
Index: []

In [35]:
df2[['cna_name','mes-ano']].groupby('mes-ano').count()

         cna_name
mes-ano
1-1985          2
1-2016          2
10-1990         4
10-2011         2
10-2016         2
10-2020         1
11-1996         2
11-2001         2
11-2004         2
11-2011         2
11-2018         1
12-2010         2
12-2013         2
12-2017         2
2-1989          2
2-1990          2
2-1994          2
2-1995          2
2-2004          2
2-2011          2
2-2019          2
3-2002          2
3-2009          2
3-2011          2
3-2020          2
4-1994          2
4-2008          2
4-2012          2
4-2023          2
5-2001          2
5-2003          2
5-2005          2
5-2012          2
5-2019          2
5-2021          2
6-1985          2
6-1996          2
6-2003          2
6-2005          2
6-2010          2
6-2018          2
6-2019          2
6-2020          2
7-2001          2
7-2011          2
8-2013          2
8-2020          2
8-2022          2
9-2020          2
9-2023          2